image: Visual Studio 2017
version: '4.1.12.{build}'
platform: x64
branches:
    only:
        - master
        - develop

configuration: 
    - Release 
    - ReleaseVR

environment:
    PYTHON: "C:\\Python35-x64"
    matrix:
        - JC_SKSE: "64"
        - JC_SKSE: "VR"

matrix:
    exclude:
        - configuration: Release
          JC_SKSE: "VR"
        - configuration: ReleaseVR
          JC_SKSE: "64"

install:
    - cmd: set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
    - git submodule update --init --recursive

before_build:
    - cmd: tools\\build_boost.bat
    - cmd: tools\\merge_skse.bat

build:
    project: JContainers.sln

after_build:
    - cmd: python tools\\install.py x64\\%CONFIGURATION% %JC_SKSE%

test_script:
    - cmd: python tools\\test.py x64\\%CONFIGURATION%\\Data\\SKSE\\Plugins\\JContainers%JC_SKSE%.dll

artifacts:
    - path: dist\*
      name: jcdistro
